.anime-detail-wrapper .anime-detail{
  margin-right: 20px;;
}

.anime-detail-wrapper {
  padding: 20px;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  background-color: #052d4a;
  margin: 20px 0;
}
.detail-info {
  border: solid .5px;
  border-radius: 1px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.anime-detail-container {
  padding: 60px 10px 15px;
}

.anime-detail-header-wrap {
  position: relative;
  z-index: 99;
};