.navigation {
  display: flex;
  height: 70px;
  margin-bottom: 25px;
  width: 100%;
  background-color: #052d4a;
  color: #fff;
}

.navigation .logo-container {
    height: 80%;
    padding: 20px;
    width: 40px;
}

.nav-links-container {
  align-items: center;
  display: inline-flex;
  font-size: 1.4rem;
  font-weight: 600;
  width: 100%;
}