.anime-container {
  min-width: 30%;
  height: 250px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 25px;
}

.anime-container:hover {
  cursor: pointer;
}

.anime-container:hover .background-image {
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
.anime-container:hover .anime-body-container {
  opacity: 0.9;
}


.anime-container .background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.anime-body-container {
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: center;
  opacity: .7;
  padding: 0 10px;
  position: absolute;
}

.anime-body-container h2 {
  font-weight: bold;
  margin: 0 6px 0;
  font-size: 14px;
  color: #4a4a4a;
}

.anime-detail-wrapper .anime-detail{
  margin-right: 20px;;
}

.anime-detail-wrapper {
  padding: 20px;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  background-color: #052d4a;
  margin: 20px 0;
}
.flex-row .info-field span{
  margin-right: 10px;
}
.flex-row .info-field {
  width: 30%;
  padding: 10px;
  display: flex;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}