.anime-detail-banner {
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: -58px;
}

.anime-detail-banner .shadow {
  background: linear-gradient(180deg, rgba(237,241,245, 0) 40%, rgba( 6,13,34, .6));
  height: 100%;
  width: 100%;
}